@import "tailwindcss";


:root {
  --font-heading: var(--font-inter);
  --font-body: var(--font-inter);
  --font-accent: var(--font-instrument);
  /* font-[var(--font-heading)] */
}

:root {
  --background: #F8F8FF;
  --section-bg: #EEF4FF;
  --foreground: #0F172A;
  /* bg-[var(--section-bg)] */
}

/* 
<section className="">
  ...
</section> */

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}


/* Background  : #F8F8FF
Section BG  : #EEF4FF

Primary     : #2563EB
Secondary   : #60A5FA

Text        : #0F172A
Text Light  : #64748B

Heading Font: Clash Display
Body Font   : Inter
Accent Font : Instrument Serif

Radius      : 24px
Shadow      : Soft Blue Glow

Style       : Luxury Art Gallery */



@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}